:root {
  --color-dark-gray: #929292;
  --color-light-gray: #edecf1;
  --color-light-blue: #219ebc;
  --color-dark-blue: #2172bc;
  --color-pink: #b85c79;

  --color-white: #ffffff;
  --color-black: #000000;
}
